.knockout {
	background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg)
		-80px -80px;
	color: red;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-weight: bold;
	font-size: 90px;
	font-family: arial, helvetica;
	width: 600px;
	margin: 50px auto;
	text-align: center;
}

h4 {
	font: bold;
	color: blue;
}

a:focus, a:hover, a {
	outline: none;
	text-decoration: none;
}

li, ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.home {
	background: #A9BCF5;
}

#navigation {
	background: #0e1a35;
}

#navigation {
	padding: 0;
}

.display-table {
	display: table;
	padding: 0;
	height: 100%;
	width: 100%;
}

.display-table-row {
	display: table-row;
	height: 100%;
}

.display-table-cell {
	display: table-cell;
	float: none;
	height: 100%;
}

.v-align {
	vertical-align: top;
}

.navi i {
	font-size: 20px;
}

#navigation {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

header {
	background: #ffffff none repeat scroll 0 0;
	box-shadow: 0 1px 12px rgba(0, 0, 0, 0.04);
	display: inline-block !important;
	line-height: 23px;
	padding: 15px;
	transition: all 0.5s ease 0s;
	width: 100%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.navi a {
	border-bottom: 1px solid #0d172e;
	border-top: 1px solid #0d172e;
	color: #ffffff;
	display: block;
	font-size: 17px;
	font-weight: 500;
	padding: 28px 20px;
	text-decoration: none;
}

.navi ul {
	height: 100%; /* Full height */
	position: fixed; /* Make it stick, even on scroll */
}

.navi i {
	margin-right: 15px;
	color: #5584ff;
}

.navi .active a {
	background: #122143;
	border-left: 5px solid #5584ff;
	padding-left: 15px;
}

.navi a:hover {
	background: #122143 none repeat scroll 0 0;
	border-left: 5px solid #5584ff;
	display: block;
	padding-left: 15px;
}

.hidden-xs {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.user-dashboard {
	padding: 0 20px;
}

.user-dashboard h1 {
	color: #0e1a35;
	font-size: 30px;
	font-weight: 500;
	margin: 0;
	padding: 21px 0;
}

/* NAVIGATION STYLE*/
.navbar-name {
	position: relative;
	margin-top: 12px;
	margin-left: 15px;
	color: #0B0B61;
	font-size: 20px;
	font-weight: 600;
}

.navbar-nav.navbar-right .btn {
	position: relative;
	z-index: 2;
	padding: 4px 20px;
	margin: 10px auto;
}

.navbar .navbar-collapse {
	position: relative;
}

.navbar .navbar-collapse .navbar-right>li:last-child {
	padding-left: 22px;
}

.navbar .nav-collapse {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding-right: 120px;
	padding-left: 80px;
	width: 100%;
}

.navbar.navbar-default .nav-collapse {
	background-color: #f8f8f8;
}

.navbar.navbar-inverse .nav-collapse {
	background-color: #222;
}

.nav-collapse>li {
	float: right;
}

.btn.btn-circle {
	border-radius: 50px;
}

.btn.btn-outline {
	background-color: transparent;
}

.panel-shadow {
	box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}

.panel-white {
	border: 1px solid #dddddd;
}

.panel-white  .panel-heading {
	color: #333;
	background-color: #fff;
	border-color: #ddd;
}

.panel-white  .panel-footer {
	background-color: #fff;
	border-color: #ddd;
}

.post .post-heading {
	height: 95px;
	padding: 20px 15px;
}

.post .post-heading .avatar {
	width: 60px;
	height: 60px;
	display: block;
	margin-right: 15px;
}

.post .post-heading .meta .title {
	margin-bottom: 0;
}

.post .post-heading .meta .title a {
	color: black;
}

.post .post-heading .meta .title a:hover {
	color: #aaaaaa;
}

.post .post-heading .meta .time {
	margin-top: 8px;
	color: #999;
}

.post .post-image .image {
	width: 100%;
	height: auto;
}

.post .post-description {
	padding: 15px;
}

.post .post-description p {
	font-size: 14px;
}

.post .post-description .stats {
	margin-top: 20px;
}

.post .post-description .stats .stat-item {
	display: inline-block;
	margin-right: 15px;
}

.post .post-description .stats .stat-item .icon {
	margin-right: 8px;
}

.post .post-footer {
	border-top: 1px solid #ddd;
	padding: 15px;
}

.post .post-footer .input-group-addon a {
	color: #454545;
}

.post .post-footer .comments-list {
	padding: 0;
	margin-top: 20px;
	list-style-type: none;
}

.post .post-footer .comments-list .comment {
	display: block;
	width: 100%;
	margin: 20px 0;
}

.post .post-footer .comments-list .comment .avatar {
	width: 35px;
	height: 35px;
}

.post .post-footer .comments-list .comment .comment-heading {
	display: block;
	width: 100%;
}

.post .post-footer .comments-list .comment .comment-heading .user {
	font-size: 14px;
	font-weight: bold;
	display: inline;
	margin-top: 0;
	margin-right: 10px;
}

.post .post-footer .comments-list .comment .comment-heading .time {
	font-size: 12px;
	color: #aaa;
	margin-top: 0;
	display: inline;
}

.post .post-footer .comments-list .comment .comment-body {
	margin-left: 50px;
}

.post .post-footer .comments-list .comment>.comments-list {
	margin-left: 50px;
}